<!DOCTYPE HTML>
<html style="background-image: url(../static/images/chalkboard.jpg);">
	<head>
		<title>Swipe Tourism</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/card.css')}}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.css')}}">
	</head>
	<body class="subpage">
		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="{{url_for('mainpage')}}">Swipe Tourism <span>by Felix & Andrew</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav  id="menu">
				<ul class="links">
					<li><a href="{{url_for('mainpage')}}">Home</a></li>
					<li><a href="{{url_for('liked')}}">Liked Places</a></li>
					<li><a href="{{url_for('generic')}}">Find Places</a></li>
                	<li><a href="{{url_for('logout')}}">Logout</a></li>
				</ul>
			</nav>

		<!-- One -->
			<section style=" padding-top:2em ; padding-bottom: 1em;background-image: url('https://i.imgur.com/RASQmSP.jpg'); "; id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<h2>Explore the World</h2>
					</header>
				</div>
			</section>
			<form style = " float:left; margin-left: 38%; margin-bottom: 5%; margin-right: 20%;" action="#" method="post">
				<div class = "info">
					<h3 style = "margin-left: 25px; margin-bottom: 25px; margin-top: 25px; margin-right: 25px; color:rgb(238, 238, 238);">Where do you want to travel {{ name }}?</h3>
					<input style = "margin-left: 25px; margin-bottom: 25px; margin-top: 25px; margin-right: 25px; max-width: 75%; color: rgb(0, 0, 0); background-color: rgba(255, 255, 255,.3);"  class = 'fname' type="text" name="location" placeholder="Where you want to travel" required>
				</div>
				<h3 style = "margin-left: 25px; margin-bottom: 25px; margin-top: 25px; margin-right: 25px;color:rgb(238, 238, 238);">What type of places are you interested in?</h3>	
				<div style = "margin-left: 25px; margin-bottom: 25px; margin-right: 25px; color: rgb(0, 0, 0); background-color: rgba(255, 255, 255,.3); max-width: 75%; " class="info">
				  <select name ="placetype" required>
					<option class="specialColor" value="" selected disabled>Type of Places to Visit</option>
					<option class="specialColor" value="amusement_park">Amusement Park</option>
					<option class="specialColor" value="art_gallery">Art Gallery</option>
					<option class="specialColor" value="campground">Camping</option>
					<option class="specialColor" value="casino">Casino</option>
					<option class="specialColor" value="library">Library</option>
					<option class="specialColor" value="museum">Museum</option>
					<option class="specialColor" value="park">Park</option>
					<option class="specialColor" value="restaurant">Restaurant</option>
					<option class="specialColor" value="shopping_mall">Shopping Mall</option>
					<option class="specialColor" value="spa">Spa</option>
					<option class="specialColor" value="stadium">Stadium</option>
					<option class="specialColor" value="tourist_attraction">Tourist Attraction</option>
					<option class="specialColor" value="zoo">Zoo</option>
				  </select>
				</div>
				<button style = "margin-left: 25px; margin-bottom: 25px;" class="button" type=submit value="submit">Submit</button>
			</form>
		<!-- Two -->
			<!--<section style=":100%; background-image: url('https://i.imgur.com/RASQmSP.jpg');" id="two" class="wrapper style2">-->
				{% if loop %}
				{% for i in range(places|length) %}
				<form action="#" method="post">
				<div id="some{{i}}" style="max-width:300px; border-color: rgb(41, 41, 41); float:left; margin-left: 9%; margin-bottom:5%;" class="box gallery">
					<div style="width: 100%; padding:0px; background-image: url({{places[i]['photo'] }}); background-size: cover;" class="card">
						<a href="#" class="overlay"></a>
						<a class="thumb" href="#">
						
						<div class="info">
							<h2><a href="#">{{ places[i]["name"]}}</a></h2>
							<div style="margin-left:5%;" class="foot">
								<input style="visibility: hidden;" name="{{ i }}" value="{{ places[i] }}" type="text"></input>
								<a style="width:40%;" class="social"><button>Pass</button></a>
								<a style="width:40%; float:right;" type ="submit" class="social"><button>Like</button></a>
								
							</div>
						</div>
					</div>	
				</div>
				</form>
				{% endfor %}
				{% endif %}
			<!--</section>-->

		<!-- Footer 
			<footer style="background-image: url('https://i.imgur.com/RASQmSP.jpg');"id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					&copy; Untitled. All rights reserved.
				</div>
			</footer>
		-->

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js')}}"></script>
		<script src="{{ url_for('static', filename='js/util.js')}}"></script>
		<script src="{{ url_for('static', filename='js/main.js')}}"></script>
	</body>
</html>
