{% extends "infobase.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<form action="#" method="post">
    <div class = "info">
        <h3 style = "margin-left: 25px; margin-bottom: 25px;  margin-top: 25px; margin-right: 25px; color:rgb(202, 202, 202);">Enter Your Name</h2>
        <input style = "margin-left: 25px; margin-bottom: 25px;  margin-right: 25px; color: rgb(202, 202, 202);" class = 'fname' type="text" name="name" placeholder="Enter your name" required>
    </div>
    <div class = "info">
        <h3 style = "margin-left: 25px; margin-bottom: 25px;   margin-right: 25px; color:rgb(202, 202, 202);">Enter Your Email</h2>
        <input style = "margin-left: 25px; margin-bottom: 25px;  margin-right: 25px; color: rgb(202, 202, 202);" class = 'fname' type="text" name="email" placeholder="Enter your email" required>
    </div>
    <div class = "info">
        <h3 style = "margin-left: 25px; margin-bottom: 25px;   margin-right: 25px; color:rgb(202, 202, 202);">Enter A Password</h2>
        <input style = "margin-left: 25px; margin-bottom: 25px; margin-right: 25px; color: rgb(202, 202, 202);" class = 'fname' name="password" placeholder="Enter a password" type="password" minlength="6" required>
    </div>
    
    <button style = "margin-left: 25px; margin-bottom: 25px; " class="button" type=submit value="submit">Register</button>
</form>
{% endblock %}
